/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h3 {
	color: white;
}
body .nav {
	width: 100%;
	height: 66px;
	background-color: white;
}
.admin {
	box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
}

.burger div {
	width: 25px;
	height: 3px;
	background: black;
	margin: 5px;
}
.burger {
	cursor: pointer;
	padding: 15px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 18% 82%);
	grid-template-rows: repeat(auto-fit, auto auto);
	font-family: 'Roboto', sans-serif;
	color: whitesmoke;
	margin: 0;
	padding: 0;
}
.link-wrapper {
	background-color: rgb(10, 120, 245);
	padding-bottom: 45rem;
}
.link-item {
	border-bottom: 1px solid rgb(158, 155, 155);
	display: flex;
	flex-direction: column;
	width: 100%;
}
.link-item a {
	font-size: 0.8em;
	color: white;
	text-decoration: none;
	padding: 1em 0.5em 0.5em 1.8em;
}
.active-link a {
	font-size: 0.8em;
	color: white;
	text-decoration: none;
	padding: 1em 0.5em 0.5em 1.8em;
	text-decoration: underline;
}
.link-item h3 {
	font-size: 0.9em;
	padding: 1em 0.5em 0.5em 1em;
}

.link-item a:hover,
a.active {
	color: rgb(221, 218, 218);
	background-color: rgb(16, 86, 167);
}
.dash-card {
	color: black;
	margin: 3em 3em;
	display: grid;
	grid-template-columns: repeat(2, auto auto);
	grid-template-rows: repeat(autofit, auto);
	grid-column-gap: 5em;
	padding-bottom: 13em;
	margin-bottom: 11em;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: white;

	box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
	border-radius: 10px;
}
.card .card-item img {
	width: 3em;
	height: 3em;
}
h4 {
	color: rgb(9, 97, 212);
}
.number {
	color: rgb(9, 97, 212);
	font-size: 10px;
	float: right;
}
.admin {
	display: flex;
	flex-direction: row;
}

.content-wrapper {
	background-color: rgb(255, 255, 255);
}

.admin-list {
	list-style: none;
	color: black;
	float: right;
	display: flex;
	padding: 24px;
}
.admin-link a,
.i {
	text-decoration: none;
	color: #000;
	padding: 0em 2em;
}
.i {
	font-size: x-large;
}
.content-wrapper h1 {
	color: #444;
	font-size: larger;
	padding: 2em;
}
.content-wrapper .profile {
	color: black;

	padding-left: 27em;
}

.content-wrapper .img {
	border-radius: 100rem;
	width: 15em;
	height: 15em;
}
.content-wrapper .footer {
	padding: 1em 4px 4px 30rem;
	color: #000;
	background: rgb(255, 255, 255);
	width: 100%;
	font-size: 12px;
}
button {
	width: 5rem;
	height: 2.3rem;
	background-color: rgb(8, 129, 241);
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
}
button:hover {
	background-color: blue;
	transition: 0.9s;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
}
.btn-file {
	display: flex;
	flex-direction: column-reverse;
}
/* list of all user */

.all-user-table h1 {
	text-align: center;
	padding-left: 3em;
}
.users-table {
	text-align: center;
}
.all-user-table,
table,
th,
.td {
	color: black;
	background-color: white;
	padding: 0.5em 4em 1em 7px;
}

#table {
	padding-left: 8rem;
}
#update {
	color: green;

	text-decoration: none;
	text-align: center;
}
#delete {
	text-decoration: none;

	text-align: center;
	color: red;
}
#update:hover {
	color: green;
	transition: 0.9s;
	text-decoration: none;
	text-align: center;
}
#delete:hover {
	text-decoration: none;
	transition: 0.9s;

	text-align: center;
	color: red;
}
/* end of all users */
/* add new user */
.add-new-user {
	padding-left: 20em;
	padding-bottom: 12rem;
}
#form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: rgb(100, 98, 98);
}
input[type='text'],
input[type='email'],
input[type='password'] {
	width: 20rem;
	height: 2.5rem;
	outline: none;
	border: 1px solid rgb(155, 152, 152);
	padding: 1em;
	border-radius: 5px;
}
/* end of add new user */
/* edit blog post */
.update {
	flex-direction: column;
	justify-content: space-evenly;
	display: none;
	position: absolute;
	top: 30%;
	left: 40%;
}
.update-section {
	background-color: white;
	box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.1);
	width: 15em;
	padding: 1em;
	border-radius: 5px;
}
.update-section input[type='text'] {
	width: 15em;
	height: 2em;
	border-radius: 5px;
}
.update-section textarea {
	width: 15em;
	height: 6em;
	border-radius: 5px;
	padding-left: 2em;
}
.close {
	position: absolute;
	top: 0px;
	right: 0px;
	color: black;
	padding: 5px;
	cursor: pointer;
}
.list-allpost {
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: repeat(1, 22rem);
	grid-row-gap: 1.5em;
}
p {
	color: black;
}
.blog-top {
	padding-top: 1em;
	padding-left: 5rem;
}

.blog-post {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	flex-direction: column;
	justify-content: space-between;
}

.blog-img img {
	width: 100%;
	height: 10em;
}
.blog-desc {
	padding: 0px 5px 5px 5px;
	font-size: small;
}
.h3 {
	font-family: 'Roboto', sans-serif;
	color: rgb(18, 105, 236);
}

.blog-desc a {
	background: rgb(112, 110, 110);
	color: whITE;
	padding: 9px 9px;
	text-align: center;
	text-decoration: none;
	width: 7rem;
	border-radius: 5px;
}
.blog-desc a:hover {
	background: rgb(184, 183, 183);
	color: black;
	transition: 0.9s;
}
.button {
	float: right;
	margin-bottom: 1em;
}
#updates {
	background-color: green;
	color: white;
	border-radius: 6px;
	text-decoration: none;
	text-align: center;
}
#deletes {
	background-color: red;
	text-decoration: none;
	border-radius: 6px;
	text-align: center;
	color: white;
}
#updates:hover {
	background-color: rgb(5, 92, 5);
	color: white;
	transition: 0.9s;
	border-radius: 6px;
	text-decoration: none;
	text-align: center;
}
#deletes:hover {
	background-color: rgb(204, 19, 19);
	text-decoration: none;
	transition: 0.9s;
	border-radius: 6px;
	text-align: center;
	color: white;
}
/* paginnation */
.pagination {
	display: flex;
	padding-left: 20em;
	padding-bottom: 2em;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color 0.3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination a.actives {
	background-color: rgb(12, 74, 245);
	color: white;
	border: 1px solid gray;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

/* end of paginnation */
/* end of edit blog post */
/* add new blog post */

.add-new-post {
	padding-left: 20em;
}

#formm {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: rgb(100, 98, 98);
}
.ele{
	padding: 3px;
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: rgb(100, 98, 98);
}
#textarea {
	width: 50%;
	height: 150%;
	border-radius: 5px;
	padding-left: 5px;
	margin-top: 5px;
}
#title[type='text'] {
	width: 50%;
	height: 2.5rem;
	outline: none;
	border: 1px solid rgb(155, 152, 152);
	padding: 1em;
	border-radius: 5px;
	margin-top: 10px;

}
input[type='file'] {
	border: 1px solid grey;
	background-color: white;
	border-radius: 5px;
	padding: 7px 7px;
	width: 50%;
	color: black;

}


/* end of new blog post */
/* list of all queries */

h1 {
	text-align: center;
	color: black;
}

.users-table {
	text-align: center;
	margin-bottom: 17em;
}

.all-user-table,
table,
th,
.td {
	color: black;
	background-color: white;
	padding: 0.5em 4em 1em 7px;
	border-collapse: collapse;
	border: 1px solid #dddddd;
}
.th,
.td {
	padding: 1em 6em;
}

#table {
	padding-left: 2rem;
}
#update {
	color: green;

	text-decoration: none;
	text-align: center;
}
#delete {
	text-decoration: none;

	text-align: center;
	color: red;
}

#update:hover {
	color: blue;
	transition: 0.9s;

	text-decoration: none;
	text-align: center;
}
#delete:hover {
	text-decoration: none;
	transition: 0.9s;

	text-align: center;
	color: red;
}
.updatess {
	padding: 10px 15px;
	
	background-color: rgb(13, 115, 231);
	color: white;
	width: 5rem;
	text-decoration: none;
	border-radius: 5px;
	font-size: small;
	text-align: center;
}
.toggle .l1 {
	transform: rotate(-45deg) translate(-5px, 6px);
	transition: 0.7s;
}
.toggle .l2 {
	opacity: 0;
}
.toggle .l3 {
	transform: rotate(45deg) translate(-5px, -6px);
	transition: 0.7s;
}
/* end of all queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 540px) {
	.wrapper {
		grid-template-columns: repeat(auto-fit, 31% 69%);
		grid-template-rows: repeat(autofit, auto);
		overflow: hidden;
	}

	.admin h3 {
		padding: 0em;
	}

	.link-item h3 i {
		padding: 0px 3px;
	}
	.link-item h3 {
		padding-left: 0em;
		font-size: 12px;
	}
	.link-item {
		padding: 12px 8px 5px 12px;
		border-bottom: 1px solid rgb(158, 155, 155);
		display: flex;
		flex-direction: column;
	}
	.link-item a {
		margin-left: 0em;
		font-size: 12px;
		padding: 0px 0px 0 0em;
	}
	.toggle .l1 {
		transform: rotate(-45deg) translate(-5px, 6px);
		transition: 0.7s;
	}
	.toggle .l2 {
		opacity: 0;
	}
	.toggle .l3 {
		transform: rotate(45deg) translate(-5px, -6px);
		transition: 0.7s;
	}
	.list-allpost {
		display: grid;
		grid-template-columns: repeat(1, 90%);
		grid-template-rows: repeat(1, auto);
	}

	.blog-top {
		padding-left: 1rem;
	}
	.blog-img img {
		width: 100%;
		height: 50%;
	}
	.add-new-post {
		padding-left: 0.7em;
	}
	#textarea {
		width: 90%;
	
	}
	#title[type='text'] {
		width: 90%;
	}
	input[type='file'] {
		width: 90%;
	}
	#table {
		overflow-y: hidden;
		overflow-x: scroll;
		height: 18em;
		width: 95%;
	}
	.add-new-user {
		padding-left: 1em;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'] {
		width: 10rem;
		height: 2.1rem;
	}
	#table {
		padding-left: 0rem;
	}
	.pagination {
		padding-left: 0em;
		padding-bottom: 2em;
	}
	.pagination a {
		padding: 2px 2px;
	}
	.admin {
		box-shadow: 2px 2px 12px rgb(0, 0, 0, 0);
	}
}

@media only screen and (min-width: 540px) {
	.wrapper {
		grid-template-columns: repeat(auto-fit, 31% 69%);
		grid-template-rows: repeat(autofit, auto);
		overflow: hidden;
	}

	.admin h3 {
		padding: 0em;
	}

	.link-item h3 i {
		padding: 0px 3px;
	}
	.link-item h3 {
		padding-left: 0em;
		font-size: 12px;
	}
	.link-item {
		padding: 12px 8px 5px 12px;
		border-bottom: 1px solid rgb(158, 155, 155);
		display: flex;
		flex-direction: column;
	}
	.link-item a {
		margin-left: 0em;
		font-size: 12px;
		padding: 0px 0px 0 0em;
	}
	.toggle .l1 {
		transform: rotate(-45deg) translate(-5px, 6px);
		transition: 0.7s;
	}
	.toggle .l2 {
		opacity: 0;
	}
	.toggle .l3 {
		transform: rotate(45deg) translate(-5px, -6px);
		transition: 0.7s;
	}
	.list-allpost {
		display: grid;
		grid-template-columns: repeat(1, 90%);
		grid-template-rows: repeat(1, auto);
	}

	.blog-top {
		padding-left: 1rem;
	}
	.blog-img img {
		width: 100%;
		height: 50%;
	}
	.add-new-post {
		padding-left: 0.7em;
	}
	#textarea {
		width: 90%;
	}
	#title[type='text'] {
		width: 90%;
	}
	input[type='file'] {
		width: 90%;
	}
	#table {
		overflow-y: hidden;
		overflow-x: scroll;
		height: 18em;
		width: 95%;
	}
	.add-new-user {
		padding-left: 1em;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'] {
		width: 10rem;
		height: 2.1rem;
	}
	#table {
		padding-left: 0rem;
	}
	.pagination {
		padding-left: 0em;
		padding-bottom: 2em;
	}
	.pagination a {
		padding: 4px 8px;
	}
	.admin {
		box-shadow: 2px 2px 12px rgb(0, 0, 0, 0);
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.list-allpost {
		display: grid;
		grid-template-columns: repeat(2, 40%);
		grid-template-rows: repeat(1, auto);
	}
	input[type='text'],
	input[type='email'],
	input[type='password'] {
		width: 14rem;
		height: 2.3rem;
		outline: none;
		border: 1px solid rgb(155, 152, 152);
		padding: 1em;
		border-radius: 5px;
	}
	#table {
		padding-left: 0rem;
	}
	.pagination {
		padding-left: 1em;
		padding-bottom: 2em;
	}
	.pagination a {
		padding: 5px 10px;
	}
	.add-new-post {
		padding-left: 5em;
	}
	.admin {
		box-shadow: 2px 2px 12px rgb(0, 0, 0, 0);
	}
	.wrapper {
		grid-template-columns: repeat(auto-fit, 18% 82%);
		grid-template-rows: repeat(autofit, auto);
		overflow: hidden;
	}
	.add-new-user {
		padding-left: 20em;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.list-allpost {
		display: grid;
		grid-template-columns: repeat(2, 40%);
		grid-template-rows: repeat(1, auto);
	}
	.pagination {
		padding-left: 4em;
		padding-bottom: 2em;
	}
	.pagination a {
		padding: 8px 16px;
	}
	.add-new-post {
		padding-left: 5em;
	}
	#table {
		overflow-y: hidden;
		overflow-x: scroll;
		height: 18em;
		width: 95%;
	}
	.link-item a {
		font-size: 0.8em;
		text-decoration: none;
		padding: 1em 0.5em 0.5em 1.8em;
	}
	.active-link a {
		font-size: 0.8em;
		text-decoration: none;
		padding: 1em 0.5em 0.5em 1.8em;
		text-decoration: underline;
	}
	.link-item h3 {
		font-size: 0.9em;
		padding: 1em 0.5em 0.5em 1em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.list-allpost {
		display: grid;
		grid-template-columns: repeat(3, 30%);
		grid-template-rows: repeat(1, 30em);
	}
	.add-new-post {
		padding-left: 20em;
	}
	.admin {
		box-shadow: 2px 2px 12px rgb(0, 0, 0, 0);
	}
	#table {
		overflow-y: hidden;
		overflow-x: hidden;
		height: 18em;
		width: 95%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body .nav {
		height: 10.2vh;
	}
	.admin {
		box-shadow: 2px 2px 12px rgb(0, 0, 0, 0);
	}
	#table {
		overflow-y: hidden;
		overflow-x: hidden;
		height: 18em;
		width: 95%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body .nav {
		height: 10.2vh;
	}
}
