
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  
}
:root{
  --main-color:#1187ee;
  --main-bg-color:#1187ee;
  --font:"Roboto", sans-serif;
  --bold-weight:700;
  --bold-weight:400;
  --text-color: rgba(7, 7, 7, 0.267);
  --h1-size:3.9em;
  --h2-size:1em;
  --p-size:1em;
}



/*      *****************   Nav bar  ************************   */

nav{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 111;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 2px 2px 12px rgb(0, 0, 0,0.1);
  background: white;
}
.logo{
  padding-left: 4em;

  
}
.logo a{
  text-decoration: none;

}
.logo a img{
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
}


.nav-list{
  list-style-type: none;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-right: 4em;
}
.nav-list .nav-list-item a {
text-decoration: none;
padding: 15px 30px;
font-size: 0.8em;
color: var(--bold-weight);

}
.nav-list .nav-list-item a:hover {
  color: var(--main-color);
  transition: 0.5s;
}
 .nav-list .nav-list-item .active{
  color: var(--main-color);
}
.burger{
float: right;
padding:15px;
padding-right: 3em;
cursor: pointer;
display: none;

}
.burger div{
  background: var(--main-bg-color);
  height: 1px ;
  padding-top:5px ;
  margin: 5px;
  width: 30px;
}


@media (max-width:760px){


.burger{
  display: block;

}

nav .nav-list{
  position: absolute;
right: 0;
top: 76px;
height:50vh;
left: 0;
justify-content: space-around;
  padding: 0;
  display: none;
}

nav .nav-active{
flex-direction: column;
background: var(--main-bg-color);
display: flex;


}
.nav-show{
  display: block;
}
nav .nav-list .nav-list-item a {
color: white;
width: 100%;


}
nav .nav-list .nav-list-item a:hover {
color: white;
}
nav .nav-list .nav-list-item:hover  {
text-decoration: underline;
}
 nav .nav-list .nav-list-item .active {
color: white;
text-decoration: underline;

}
  .toggle .l1 {
    transform: rotate(-45deg) translate(-6px, 8px);
    transition: 0.7s;
  }
  .toggle .l2 {
    opacity: 0;
  }
  .toggle .l3 {
    transform: rotate(45deg) translate(-5px, -8px);
    transition: 0.7s;
  }
section .shower{
 width: 100%;
}

}

/*   *****************   Nav bar  ************************   */
/* end of  shower */

section .shower{
    height: 70vh;
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .shower .title{
color: WHITE;
font-size: 2.5em;
padding-bottom: 0.5em;
}

section .shower span a{
color: white;
text-decoration: none;
font-size: 1.1em;
}
/*end of  shower */
.contact-form{
    display: flex;
    height: 110vh;
    padding-top: 10em;
    margin-bottom: 7em;
}
.contact-form .form{
flex-basis: 50%;
padding-left: 3em;
position: relative;
}
.contact-form form{
  margin-top: 1em;

  display: flex;
  flex-direction: column;
}
.contact-form form label{

  display: flex;
  flex-direction: column;
}
.contact-form form input{
  
border: 1px solid #1187ee;
outline: none;
height: 2.5em;
border-radius: 5px;
width: 70%;
margin-top: 1em;
margin-bottom: 1em;
padding: 5px;

}
.contact-form form textarea{
outline: none;
border: 1px solid #1187ee;
margin-top: 1em;
margin-bottom: 1em;
height: 30%;
border-radius: 5px;
padding: 7px;
width: 70%;

}

.contact-form form button{
  background: var(--main-bg-color);
  color: white;
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
.contact-form form button:hover{
background-color: #3893e4;
}
.contact-form .location{
flex-basis: 50%;
padding: 1.3em;
}
.contact-form .location h1{
    color: #444;
    font-size: 1em;
    padding: 1em;
}
@media(max-width:760px){

    .contact-form{
        flex-direction: column;
        height: 120vh;
    }
    .contact-form .location{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .contact-form .form{
padding-left: 1.7em;
width: 90%;
}
.contact-form form input{
  

width: 100%;


}
.contact-form form textarea{

width: 100%;

}

.contact-form form button{
  background: var(--main-bg-color);
  color: white;
  width: 100%;
 
}
}
.popup{
  display: none;
  justify-content: center;

}
.popup .popup-content{
position: absolute;
top: 20%;
bottom: 50%;
left: 10%;
right:10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  box-shadow: 2px 2px 12px rgb(0, 0, 0,0.2);
  height: 40%;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;


}
#form span{
  font-size: 0.8em;
}

.popup .popup-content h3,label{
  color: #1187ee;

}
.popup .popup-content label{
  border:1px solid  #1187ee;
  border-radius: 50%;
  font-size: 2em;
  padding: 20px;

}
.popup .popup-content button{
  background-color: #1187ee;
  outline: none;
  border:none;
  width: 20%;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 1em;
  
}
.popup .popup-content button:hover{
  background-color: #3e9bec;
  cursor: pointer;

  
}


/*      ***************** footer   ************************   */
footer{
background: var(--main-bg-color);
height: auto;
padding-top:3em;
margin-top: 1em;
display: flex;
flex-direction: column;

}
footer .logo{
  align-items: center;
justify-content: center;
display: flex;
}
footer .logo img{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
footer .nav-footer{
  display: flex;
  padding-top: 2em;
  /* border: 1px solid red; */
  padding-left: 3em;
  align-items: center;
justify-content: center;

}
footer .nav-footer ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;

}

footer .nav-footer ul li a{
text-decoration: none;
color: white;
margin-left: 2em;
}
footer .social-icon{
  display: flex;
  padding-top: 2em;

  align-items: center;
justify-content: center;

}
footer .social-icon ul{
  list-style-type: none;
  display: flex;

  justify-content: flex-start;

}

footer .social-icon ul li a{
text-decoration: none;
color: white;
margin-left: 2em;
font-size: 1.1em;
}
.developer{
  padding-top:2em;
  padding-bottom:2em;
  padding-left: 2em;

}
.developer h4{
text-align: center;
  color: white;
}
@media (max-width:1100px){


}
@media (max-width:760px){
footer .logo {

margin-right: 3.5em;

}
footer{
  width: 100%;
}
footer .logo img{

  border-radius: 100%;

}
.developer{
  padding-top:1em;
  padding-left: 0em;

}
footer .nav-footer ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;

}

footer .nav-footer ul li a{
text-decoration: none;
color: white;
margin-left: 0.7em;
}

}
@media(max-width:360px){
section .shower{
 width: 113%;
}
section .shower .title{
font-size: 2em;
}
footer{
  width: 113%;
}
}




/*      ***************** end of footer   ************************   */

