*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  
}
:root{
  --main-color:#1187ee;
  --main-bg-color:#1187ee;
  --font:"Roboto", sans-serif;
  --bold-weight:700;
  --bold-weight:400;
  --text-color: rgba(7, 7, 7, 0.267);
  --h1-size:3.9em;
  --h2-size:1em;
  --p-size:1em;
}



/* ####################  login style ############################# */

.login_page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.login-container{
  background: white;
  box-shadow: 2px 2px 12px rgb(0, 0, 0,0.1);
  padding-bottom: 3em;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-container .logo{
  flex-basis: 20%;
  display: flex;
  align-content: center;
  margin:0em 2em 0em 0;

  justify-content: center;
}
.login-container .logo a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .logo img{
  width: 20%;
  border-radius: 50%;
}
.login-container .form{
  flex-basis: 80%;
}

.login-container .form{
  display: flex;
  flex-direction: column;
  width: 60%;


}
.login-container .form h1{
  color: var(--main-color);
  margin:1em 0 1em 0;

}
.login-container .form .btn{
  background: white;
  border: 1px solid var(--main-color);
  outline: none;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 1em;
  widows: 60%;
}

.login-container .form form{
  display: flex;
  flex-direction: column;
}
.login-container .form form label{ 
  display: flex;
  flex-direction: column;
}
.login-container .form form label input{ 
border: 1px solid var(--main-color);
outline: none;
height: 2.5em;
padding: 10px;
width: 100%;
border-radius: 5px;
margin: 1em 0 1em 0;
}
.login-container .form form label button{ 
outline: none;
border: none;
background: var(--main-bg-color);
color: white;
padding: 10px;
width: 100%;
border-radius: 5px;
margin: 1em 0 1em 0;
}
.login-container .form form label button:hover{ 

background: #3b9bf0;


}
p{
  color: #444;
}
p a{
  text-decoration: none;
  color: #1187ee;
}
p a:hover{
  text-decoration: underline;
}
@media(max-width:760px){
  .login-container{

  width: 90%;

}
.login-container .form{
  flex-basis: 100%;
}
.login-container .form form label input{ 

width: 100%;

}
.login-container .form form label button{ 

width: 100%;

}
.login-container .form{
  width: 95%;
}
.login-container .logo img{
  width: 50%;
  height: 50%;
}
}


/* #################### End  login style ############################# */
