* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--font);
}
html {
   scroll-behavior: smooth;
}
:root {
   --main-color: #1187ee;
   --main-bg-color: #1187ee;
   --font: "Roboto", sans-serif;
   --bold-weight: 700;
   --bold-weight: 400;
   --text-color: rgba(7, 7, 7, 0.267);
   --h1-size: 3.9em;
   --h2-size: 1em;
   --p-size: 1em;
}

/*      *****************   Nav bar  ************************   */

nav {
   display: flex;
   justify-content: space-between;
   height: 76px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.1);
   background: white;
}
.logo {
   padding-left: 4em;
}
.logo a {
   text-decoration: none;
}
.logo a img {
   width: 4.5em;
   height: 4.5em;
   border-radius: 50%;
}

.nav-list {
   list-style-type: none;
   align-items: center;
   justify-content: center;
   display: flex;
   padding-right: 4em;
}
.nav-list .nav-list-item a {
   text-decoration: none;
   padding: 15px 30px;
   font-size: 0.8em;
   color: var(--bold-weight);
}
.nav-list .nav-list-item a:hover {
   color: var(--main-color);
   transition: 0.5s;
}
.nav-list .nav-list-item .active {
   color: var(--main-color);
}
.burger {
   float: right;
   padding: 15px;
   padding-right: 3em;
   cursor: pointer;
   display: none;
}
.burger div {
   background: var(--main-bg-color);
   height: 1px;
   padding-top: 5px;
   margin: 5px;
   width: 30px;
}

@media (max-width: 760px) {
   .burger {
      display: block;
   }

   nav .nav-list {
      position: absolute;
      right: 0;
      top: 76px;
      height: 50vh;
      left: 0;
      justify-content: space-around;
      padding: 0;
      display: none;
   }

   nav .nav-active {
      flex-direction: column;
      background: var(--main-bg-color);
      display: flex;
   }
   .nav-show {
      display: block;
   }
   nav .nav-list .nav-list-item a {
      color: white;
      width: 100%;
   }
   nav .nav-list .nav-list-item a:hover {
      color: white;
   }
   nav .nav-list .nav-list-item:hover {
      text-decoration: underline;
   }
   nav .nav-list .nav-list-item .active {
      color: white;
      text-decoration: underline;
   }
   .toggle .l1 {
      transform: rotate(-45deg) translate(-6px, 8px);
      transition: 0.7s;
   }
   .toggle .l2 {
      opacity: 0;
   }
   .toggle .l3 {
      transform: rotate(45deg) translate(-5px, -8px);
      transition: 0.7s;
   }
}
/*      *****************   Nav bar  ************************   */

/*      *****************   main content  ************************   */

main {
   height: 100vh;
}
main .main-content {
   display: flex;
   margin-top: 6em;
}
main .main-content .content {
   flex-basis: 50%;
   padding-left: 2.5em;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
main .main-content .content .content-text {
   display: flex;
   flex-direction: column;
   margin-left: 1em;

   padding-top: 6em;
}
main .main-content .content .content-text .p {
   font-size: var(--h2-size);
   color: #444;
   margin-bottom: 1.5em;
}
main .main-content .content .content-text .h1 {
   color: #444;
   margin-bottom: 0.5em;
   font-size: 3em;
}
main .main-content .content .content-text .p1 {
   font-size: var(--p-size);
   color: #444;
   margin-bottom: 1em;
   font-size: 1.3em;
}
main .main-content .content .social-link {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   justify-content: flex-start;
   /* border: 1px solid red; */
   width: 90%;
   padding-top: 1em;
}
main .main-content .content .social-list {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   margin-bottom: 1em;
}
main .main-content .content .social-link .social-list li i {
   font-size: 1.3em;
   color: rgb(95, 95, 95);
   margin: 0 16px;
}

main .main-content .content .social-link .social-list li i:hover {
   color: var(--main-color);
}
main .main-content .content .social-link .btn-work a {
   text-decoration: none;
   color: white;
   background: var(--main-bg-color);
   padding: 17px;
   font-size: 1.5em;

   border-radius: 5px;
}
main .main-content .content .social-link .btn-work a:hover {
   background: #439ceb;
}
main .main-content .content .social-link .btn-work {
   display: flex;
   padding-left: 1em;
   padding-top: 1em;
}

.main-content .profile img {
   width: 60%;
   border-radius: 50%;
   padding-top: 5em;
   height: 90%;
}
@media (max-width: 760px) {
   .main-content {
      flex-direction: column;
   }
   main {
      height: 160vh;
   }
   main .main-content .content .social-list {
      justify-content: center;
      align-items: center;
   }
   main .main-content .content {
      flex-basis: 100%;
      align-items: center;
      padding: 1em;
      margin: 0;
   }
   main .main-content .content .content-text .p,
   h1,
   .p1 {
      text-align: center;
   }
   main .main-content .content .social-link .btn-work {
      align-items: center;
      justify-content: center;
   }
   .main-content .profile img {
      width: 80%;
      border-radius: 50%;
      padding-top: 1em;
      height: 100%;
   }
   main .main-content .content .content-text .h1 {
      font-size: 2.5em;
   }
}

/*      *****************  End  main content  ************************   */
/*      *****************  About me section  ************************   */
.about-content {
   display: flex;
   height: 80vh;
}
.about-content .about-content1 {
   flex-basis: 50%;
}
.about-content .about-content1 img {
   width: 80%;
   height: 80%;
}
.about-content .about-content1 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.about-content .about-content1 .content1 {
   padding: 4em;
}
.about-content .about-content1 .content1 .title {
   padding-bottom: 1em;
   font-weight: bold;
   color: #1187ee;
   font-size: 2em;
}
.about-content .about-content1 .content1 .about-title {
   background: var(--main-bg-color);
   color: white;
   width: 60%;
   text-align: center;
   padding-top: 10px;
   height: 2.5em;
   margin-bottom: 1em;
}
.about-content .about-content1 .content1 .text p {
   line-height: 1.5em;
}
@media (max-width: 1100px) {
   .about-content .about-content1 .content1 .about-title {
      width: 95%;
   }
}
@media (max-width: 760px) {
   .about-content .img {
      display: none;
   }
   .about-content {
      height: 125vh;
      width: 90%;
   }

   .about-content .about-content1 .content1 .about-title {
      width: 120%;
   }
   .about-content .about-content1 {
      flex-basis: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
   }
   .about-content .about-content1 .content {
      margin: 0;
      padding: 0;
   }
   .about-content .about-content1 .content1 .text {
      width: 120%;
      text-align: start;
      font-size: 1em;
   }
}

/*      ***************** End of  About me section  ************************   */
/*      ***************** services offers  ************************   */
.service {
   display: flex;
   flex-direction: column;
   padding: 4em;
}

.service span {
   color: #444;
   padding-bottom: 1em;
}
.service h1 {
   color: #444;
   font-size: 2.5em;
   width: 40%;
}

.service-section {
   display: flex;

   flex-wrap: wrap;
}
.service-section .service-card {
   /* background: var(--main-bg-color); */
   height: 100%;
   width: 30%;
   padding: 1em;
   margin-left: 1em;
   margin-top: 3em;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.1);
}
.service-section .service-card:hover {
   box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.3);
   transition: 0.4s;
}
.service-section .service-card .icon {
   flex-basis: 30%;
   padding-top: 1em;
   padding-bottom: 1em;
   color: var(--main-color);

   font-size: 3em;
}
.service-section .service-card .heading {
   flex-basis: 20%;
   padding-top: 1em;
}
.service-section .service-card .text {
   flex-basis: 30%;
   padding-top: 1em;
   line-height: 1.5em;
   color: #444;
   text-align: center;
}
.service-section .service-card .button {
   flex-basis: 20%;
   padding-top: 1em;
   text-align: center;
   text-decoration: none;
   padding-bottom: 2em;
}
.service-section .service-card .button a {
   padding-bottom: 3px;
   text-decoration: none;
   color: var(--main-color);
}
@media (max-width: 1000px) {
   .service-section .service-card {
      width: 70%;
   }
   .service h1 {
      width: 60%;
   }
}
@media (max-width: 760px) {
   .service {
      padding: 1em;
   }
   .service-section .service-card .text {
      font-size: 1.2em;
   }

   .service span {
      padding-bottom: 1em;
   }
   .service h1 {
      width: 100%;
      font-size: 1em;
   }

   .service-section {
      flex-direction: column;
      flex-wrap: wrap;
   }
   .service-section .service-card {
      width: 100%;
      margin: 0;
      margin-top: 2em;
   }
}

/*      ***************** End of services offers  ************************   */

/*      ***************** Recent done project  ************************   */

.recent-project .project-select {
   padding-bottom: 2em;
   padding-left: 1em;
}
.recent-project span {
   color: #444;
   color: #444;
   padding-left: 3.5em;
}
.recent-project h1 {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   font-size: 3em;
   color: #444;
   padding-left: 1em;
}
.recent-project .project-select .project-nav {
   display: flex;
   list-style-type: none;
}
.recent-project .project-select .project-nav li {
   margin-left: 2em;
   padding-bottom: 0.4em;
}
.recent-project .project-select .project-nav li a {
   text-decoration: none;
   color: #444;
}
.recent-project .project-select .project-nav li .active {
   color: var(--main-color);
}
.project-image {
   display: flex;
   padding-left: 2em;
}
.project-image .first-project {
   flex-basis: 40%;
}
.project-image .second-project {
   flex-basis: 30%;
}

.project-image a img {
   width: 100%;
   padding-left: 1em;
   /* object-fit: cover; */
   height: 40%;
}
.project-image a img:hover {
   padding-left: 1em;
   object-fit: cover;
   transition: 0.5s;
}
@media (max-width: 760px) {
   .recent-project h1 {
      font-size: 1em;
      color: #444;
      padding-left: 0em;
   }
}

/*      ***************** end of Recent done project  ************************   */
/*      ***************** end of Recent done project  ************************   */

/*      ***************** My blog   ************************   */
section .my-blog {
   display: flex;
   flex-direction: column;
   padding: 3em;
}
.my-blog span {
   padding-left: 1.3em;
   color: #444;
}
.my-blog h1 {
   font-size: 3em;
   color: #444;
   padding: 0.4em;
   width: 40%;
}
.my-blog .blog-card {
   padding-top: 2em;
   display: flex;
}
.card1 {
   height: 100%;
   width: 31%;
   display: flex;
   flex-direction: column;
   margin-left: 1.5em;
}
.card1:hover {
   box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
}
.my-blog .blog-card .card1 .image {
   flex-basis: 60%;
}
.my-blog .blog-card .image img {
   width: 100%;
   height: 100%;
   padding-bottom: 0.3em;
}
/* .my-blog .blog-card  .image img:hover{
object-fit: cover;

} */

.description {
   display: flex;
   flex-basis: 10%;
   padding-top: 1em;
   color: rgb(134, 134, 134);
}
.description span {
   font-size: 0.8em;
}
.title {
   flex-basis: 10%;
   padding: 1em;
}
.title h3 a {
   color: #1187ee;
   text-decoration: none;
}
.my-blog .text {
   padding: 1em;
   flex-basis: 30%;

   color: #444;
   line-height: 1.5em;
}
.learn-more {
   display: flex;
   padding-top: 1em;
   padding-left: 1em;
   padding-bottom: 2em;
   flex-basis: 10%;
}
.learn-more a {
   text-decoration: none;
   color: #1187ee;
   border-bottom: 3px solid #1187ee;
   padding-bottom: 10px;
   transition: 0.5s;
}
.learn-more a:hover {
   color: #1187ee;
   border-bottom: 2px solid #1187ee;
   transition: 0.5s;
}
@media (max-width: 1100px) {
   .card1 {
      width: 70%;
   }
   .my-blog h1 {
      font-size: 2em;
      padding: 0.1em;
      width: 60%;
   }
}
@media (max-width: 760px) {
   section .my-blog {
      padding: 0.1em;
   }
   .my-blog .text {
      font-size: 1.3em;
   }
   .my-blog span {
      padding-left: 1.4em;
   }
   .my-blog h1 {
      font-size: 1em;
      padding: 0.1em;
      width: 90%;
   }
   .my-blog .blog-card {
      flex-direction: column;
   }
   .card1 {
      width: 95%;
   }
}

/*      ***************** end my blog   ************************   */
/*      ***************** footer   ************************   */
footer {
   background: var(--main-bg-color);
   height: auto;
   padding-top: 3em;
   margin-top: 1em;
   width: 100%;
   display: flex;
   flex-direction: column;
}
footer .logo {
   align-items: center;
   justify-content: center;
   display: flex;
}
footer .logo img {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   width: 5em;
   height: 5em;
}
footer .nav-footer {
   display: flex;
   padding-top: 2em;
   padding-left: 3em;
   align-items: center;
   justify-content: center;
}
footer .nav-footer ul {
   list-style-type: none;
   display: flex;
   justify-content: flex-start;
}

footer .nav-footer ul li a {
   text-decoration: none;
   color: white;
   margin-left: 2em;
}
footer .social-icon {
   display: flex;
   padding-top: 2em;

   align-items: center;
   justify-content: center;
}
footer .social-icon ul {
   list-style-type: none;
   display: flex;

   justify-content: flex-start;
}

footer .social-icon ul li a {
   text-decoration: none;
   color: white;
   margin-left: 2em;
   font-size: 1.1em;
}
.developer {
   padding-top: 2em;
   padding-bottom: 2em;
   padding-left: 2em;
}
.developer h4 {
   text-align: center;
   color: white;
}
@media (max-width: 1100px) {
}
@media (max-width: 760px) {
   footer .logo {
      margin-right: 3.5em;
   }
   footer .logo img {
      border-radius: 100%;
   }
   .developer {
      padding-top: 1em;
      padding-left: 0em;
   }
   footer .nav-footer ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
   }

   footer .nav-footer ul li a {
      text-decoration: none;
      color: white;
      margin-left: 0.7em;
   }
}

/*      ***************** end of footer   ************************   */
