*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --txt-color: #1187ee;
  --bg-primary: #1187ee;
  --font-family:"Roboto", sans-serif;
  --shadow: 0px 13px 17px #36363624;
}
/** @format */

* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*-------nav-bar -------*/

.nav {
  background-color: white;
  height: 66px;
  box-shadow: 0px 0.1px 3px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
}
.nav .logo {
  float: left;
  text-align: center;
  display: flex;
  font-family: "Lobster", cursive;
  margin-left: 3em;
  padding-top: 1em;
  font-size: small;
}
.nav .logo > h1 {
  text-align: center;
}
.nav-list {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 5px 0 0;
  margin-right: 3rem;
  padding: 1em;
}
.nav-ilist {
  text-decoration: none;
  padding: 2px 12px;
  margin: 0px;
  text-align: center;
  float: left;
}

.nav-link {
  padding: 1rem;
  font-size: 15px;
  color: #444;
  text-decoration: none;
  text-transform: capitalize;
}
.active {
  color: rgb(12, 90, 236);
}
.nav .nav-list .nav-ilist .nav-link:hover {
  color: rgb(17, 98, 219);
  transition: 0.3s;
}
.burger div {
  width: 25px;
  height: 2px;
  background: #000;
  margin: 5px;
}
.burger {
  display: none;
  float: right;
  padding: 15px;
  margin-right: 1rem;
  cursor: pointer;
}
/*-------------end of navbar ------------------*/
/*  media query for nav bar */
@media (max-width: 240px) {
  .nav {
    width: 100%;
  }
  .burger {
    display: block;
    transition: 0.5s;
  }
  .nav-ilist {
    text-decoration: none;
    padding: 2px 12px;
    margin: 0px;
    text-align: center;
  }
 

  .nav-list {
    width: 100%;
    margin-top: 0;
    margin-right: 0px;
    display: none;
    transition: 0.6s ease-in;
    position: relative;
  }
  .nav-active {
    display: flex;
    flex-direction: column;

  }
  .nav-link {
    padding: 12px 10px;
    width: 100%;
    float: left;
  }
  .toggle .l1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: 0.7s;
  }
  .toggle .l2 {
    opacity: 0;
  }
  .toggle .l3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: 0.7s;
  }
    .nav-link:hover{
   color: rgb(219, 212, 212);
   
  }
}
@media (max-width: 500px) {
  .nav {
    width: 100%;
  }
    .nav-link:hover{
   color: rgb(219, 212, 212);
   
  }
  .burger {
    display: block;
    transition: 0.5s;
  }
  .nav-ilist {
     width: 100%;
    color: white;

  }
 .nav-list {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    background: var(--bg-primary);

    display: none;
    transition: 0.6s ease-in;
 
  }
  .nav-active {
    display: flex;
    flex-direction: column;
    transition: 0.6s ease-in;
  }
  .nav-link {
    padding: 12px 10px;
    transition: 0.6s ease-in;
    width: 100%;

    float: left;
  }
  .toggle .l1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: 0.7s;
  }
  .toggle .l2 {
    opacity: 0;
  }
  .toggle .l3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: 0.7s;
  }
}
@media (max-width: 700px) {
  .nav {
    width: 100%;
  }
  .burger {
    display: block;
  }
  .nav-ilist {
    text-decoration: none;
    padding: 2px 12px;
    margin: 0px;
    text-align: center;
 
  }


  .nav-list {
    width: 100%;
    margin-top: 0;
    float: left;
    opacity: 0.9;
    display: none;
    height: 60%;
   background-color: var(--bg-primary);
    position: fixed;
    top:4rem;
    left: 0;
    right: 0;
    transition: 0.6s ease-in;
  }
  .nav-active {
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    padding: 12px 10px;
    width: 100%;
    float: left;
    color: white;
  }
  .nav .nav-list .nav-ilist .nav-link:hover {
    text-decoration: underline;
     color:white;
}
.active{
      text-decoration: underline;
 
}
  .toggle .l1 {
    transform: rotate(-45deg) translate(-5px, 5px);
    transition: 00.7s;
  }
  .toggle .l2 {
    opacity: 0;
  }
  .toggle .l3 {
    transform: rotate(45deg) translate(-5px, -5px);
    transition: 00.7s;
  }
}

/*  media query for nav bar */

/*-------------end of navbar ------------------*/
/*-------------section ------------------*/
.landing-page {
  display: flex;
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  width: 100%;
  height: 100vh;
}

.landing-content {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio {
  padding: 5px;
  width: 50%;
  height: 2.5rem;
  background: #1187ee;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  border: none;
}
.portfolio:hover {
  background: rgb(0, 58, 248);
  color: rgb(218, 216, 216);
}
.landing-content .p1 {
  font-size: 15px;
  color: #444;
}
.landing-content .p2 {
  font-size: 2em;
  color: rgb(56, 55, 55);
}
.landing-page .p3 {
  font-size: 1em;
  color: #444;
}
.landing-contents {
  flex-basis: 50%;
}
.landing-contents img {
  width: 100%;
  height: 100%;
}

.about-me {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  padding: 1em 3em 1em 3em;
  font-family: "Roboto", sans-serif;
}
.about-content {
  background-color: white;
  box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.1);
  height: auto;
  padding-right: 5px;
  width: auto;
}
#one {
  color: rgba(27, 89, 223, 0.822);
  font-size: 4em;
}
.about-content img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-content .about-title {
  text-align: center;
  color: rgb(56, 55, 55);
}
.about-content p {
  line-height: 20px;
  padding-left: 1em;
  color: #444;
}
/*-------------end of section ------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .img {
    width: 100%;
    height: auto;
  }
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing-content{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me {
    display: flex;
    flex-direction: column;
     padding: 1em 3em 1em 3em;
    font-family: "Roboto", sans-serif;
  }
  .landing-content .p1 {
    font-size: 10px;
  }
  .landing-content .p2 ,.p3{
    font-size: 1em;
    font-weight: bold;

  }

 
}



/*---------------contact me page---------------*/
.contact-page {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Roboto", sans-serif;
}

.contact-page .contact-content {
  flex: 1;
  background-color: rgb(209, 208, 208);
  padding: 1em 3em 1em 3em;
}

.contact-content #link,
.contact-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.contact-content #titles {
  margin-left: 1.7em;
}
.contact-content #social {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
}
.contact-content #social li a {
  padding: 1em 2em 0 0;
  color: black;
  font-size: x-large;
}

.contact-content #link li i {
  font-size: 1.3em;
}
.contact-content #title {
  padding-left: 5em;
}
.contact-content .form {
  display: flex;
  flex-direction: column;
  padding-left: 7em;
}
input[type="text"],
input[type="email"],
input[type="text"] {
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 5px;
}
textarea {
  width: 15rem;
  height: 7rem;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px 0 0 5px;
}
button {
  width: 5rem;
  height: 2rem;
  background-color: rgb(15, 109, 216);
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
}
footer {
  background-color: whitesmoke;
  color: black;
  text-align: center;
}
footer p {
  font-size: 10px;
}

/*--------------- end contact me page---------------*/
/*--------------- media query contact me page---------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact-page {
    display: flex;
    flex-direction: column-reverse;
    font-family: "Roboto", sans-serif;
  }
  .contact-content .form {
    display: flex;
    flex-direction: column;
    padding-left: 0em;
  }
  .contact-content #title {
    padding-left: 0em;
  }
  .contact-content #social li a {
    padding: 1em 2em 0 0;
    color: black;
    font-size: large;
  }
  input[type="text"],
input[type="email"],
input[type="text"] {
  width: 12rem;

}
textarea {
  width: 12rem;

}
}
@media only screen and (max-width: 760px) {
  .contact-page {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
  }
  .contact-content .form {
    display: flex;
    flex-direction: column;
    padding-left: 0em;
  }
  .contact-content #title {
    padding-left: 0em;
  }
  .contact-content #social li a {
    padding: 1em 2em 0 0;
    color: black;
    font-size: large;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/*---------------end  media query contact me page---------------*/
